.archive-agenda {
    margin-top: 60px;
    flex-wrap: wrap;

    .article {
        padding: 10px;

        .post {
            display: flex;
            border: 1px solid $color-gray;
            column-gap: 44px;

            @include media-breakpoint-down(md) {
                flex-direction: column;
            }

            .post-thumbnail {
                .post-img {
                    min-width: 352px;
                    max-width: 352px;
                    height: 100%;
                    object-fit: cover;

                    @include media-breakpoint-down(md) {
                        max-width: 100%;
                    }

                    @include media-breakpoint-down(sm) {
                        min-width: unset;
                    }
                }

                .post-date {
                    display: none;
                }

                @include media-breakpoint-down(sm) {
                    .post-date {
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        flex-direction: column;
                        background-color: $color-green;
                        max-width: max-content;
                        padding: 10px 20px;
                        
                        p {
                            margin-bottom: unset;
                            font-size: 16px;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-family: $font-family-base;
                            color: $white;

                            &:first-child {
                                font-size: 50px;
                                line-height: 50px;
                            }
                        }
                    }
                }

                @include media-breakpoint-down(sm) {
                    position: relative;
                }

            }

            .post-content-article {
                .post-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: max-content;
    
                    .post-content-header {
                        display: flex;
                        column-gap: 35px;
                        margin-bottom: 35px;
                        align-items: center;
    
                        .post-date {
                            display: flex;
                            flex-direction: column;
                            background-color: $color-green;
                            max-width: max-content;
                            padding: 10px 20px;
                            
                            p {
                                margin-bottom: unset;
                                font-size: 16px;
                                font-weight: bold;
                                text-transform: uppercase;
                                font-family: $font-family-base;
                                color: $white;
    
                                &:first-child {
                                    font-size: 50px;
                                    line-height: 50px;
                                }
                            }

                            @include media-breakpoint-down(sm) {
                               display: none;
                            }
                        }
    
                        .post-content-infos {
    
    
                            .post-title {
                                font-family: $font-family-base;
                                font-weight: bold;
                                font-size: 22px;
                                max-width: 416px;
                                line-height: 32px;
                            }
        
                            .post-hour {
                                display: flex;
                                align-items: center;
                                column-gap: 12px;
        
                                img {
                                    max-width: 20px;
                                    max-height: 20px;
                                    filter: brightness(0) saturate(100%) invert(35%) sepia(1%) saturate(3598%) hue-rotate(332deg) brightness(101%) contrast(77%);
                                }
        
                                p {
                                    margin-bottom: unset;
                                    color: $gray-700;
                                }
                            }

                            @include media-breakpoint-down(sm) {
                                padding: 0px 20px;
                                padding-top: 31px;
                            }
                        }
    
                    }
                }
    
                .post-content {
                    .post-excerpt {
                        text-align: start;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        max-width: 660px;

                        @include media-breakpoint-down(lg) {
                            width: 450px;
                        }

                        @include media-breakpoint-down(md) {
                            padding: 0px 20px;
                            width: 100%;
                        }
                    }

                    
                }
    
                footer {
                    text-align: flex-start;

                    .readmore {
                        .post-link-agenda {
                            justify-content: flex-start !important;
                            padding-bottom: 31px;
                        }

                        @include media-breakpoint-down(md) {
                            padding-left: 20px;
                        }
                    }
                }
            }

        }
    }
}